<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.dplouffe.superdude"
        version   = "1.0.0">

    <name>SuperDude</name>

    <description>
        Try to beat the evil monsters in the game
    </description>

    <author href="http://dplouffe.ca" email="dominic@dplouffe.ca">
        Dominic Plouffe
    </author>

    <!--
        If you do not want any permissions to be added to your app, add the
        following tag to your config.xml; you will still have the INTERNET
        permission on your app, which PhoneGap requires.
    -->
    

</widget>