#player_image {
    height: 30px;
    width: 100%;
}

.aspectwrapper {
width: 100vw; 
    height: 56.25vw; /* height:width ratio = 9/16 = .5625  */
    background: #fff;
    max-height: 100vh;
    max-width: 177.78vh; /* 16/9 = 1.778 */
    margin: auto;
    position: absolute;
    top:0;bottom:0; /* vertical center */
    left:0;right:0; /* horizontal center */
}

#box {
    position: absolute;
    background-image: url(http://i.imgur.com/HwvK2FJ.png);
    background-size:cover;
    top: 0; bottom: 0; right: 0; left: 0;
}

.click_box {
    height: 100%;
    width: 50%;
    z-index: 9998;
    position: absolute;
}

.click_box.right {
    left: 50%;
    position: fixed;
}

#background_img {
    width: 100%;
    height: 100%;
}

#start_button {
    padding: 20px;
    font-size: 20px;
    font-family: 'Press Start 2P', cursive;
    background-color: #ccc;
    position: absolute;
    z-index: 9999;
}

#header {
    width: 100%;
    z-index: 9999;
    position:absolute
}

.counters {
    font-family: 'Press Start 2P', cursive;
    color: #ECECEC;
}

#points_counter {   
    padding-top: 10px;
    width: 50%;
    text-align: right;
    z-index: 9999;
}

#coins_counter {   
    padding-top: 10px;
    width: 50%;
    text-align: left;
    z-index: 9999;
}

#level {
    text-align: center;
    padding-top: 25%;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 9999;
    display: none;
}

.pipe_image {
    width: 100%;
    padding-left: 1px;
    padding-right: 1px;
}

.coin {
    background-image: url(images/coin.png);
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50px;
    width: 50px;
}

.player_shield {
    border: 1px solid #222;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;

    opacity: 0.6;
    filter: alpha(opacity=60);
}

.shield {
    background-image: url(images/shield.png);
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50px;
    width: 50px;
}

#super_dude_debug {
    width: 200px; height: 200px; z-index: 5; border: 1px solid #000; background-color: #FFF;
    position: absolute;
}