#main_menu_box {
    position: absolute;
    background-image: url(images/backdrop.png);
    background-size:cover;
    top: 0; bottom: 0; right: 0; left: 0;
    /*display: none;*/
}

#title {
    font-size: 40px;
    font-family: 'Press Start 2P', cursive;
    color: #fff;
}

#title_image {
    height: 60px;
    margin-right: 10px;
    vertical-align: middle;
}